<div class="row">
  <div class="col-lg-12">
    <nb-card >
      <nb-card-header></nb-card-header>
      <nb-card-body>
        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth placeholder="First name">
          <input type="text" nbInput fullWidth placeholder="Last Name">
        </div>
        Détails de {{firstName}}
        <input type="text" nbInput fullWidth shape="rectangle" placeholder="Carte d'idenité nationale">
        <input type="text" nbInput fullWidth shape="rectangle" placeholder="Numéro de telephone">
        <input type="text" nbInput fullWidth shape="rectangle" placeholder="Email">
        <textarea rows="5" nbInput fullWidth shape="rectangle"  placeholder="Description"></textarea>
      </nb-card-body>
    </nb-card>
  </div>


</div>
